body {
    font-family: Arial, sans-serif;
    background-color: #FDFBD4;
    margin: 0;
}

/* Contenedor principal */
.contenedor {
    width: 80%;
    margin: auto;
}

/* Sección o bloque */
.bloque {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}

/* Imagen */
.bloque img {
    width: 100%;
    height: auto;
}

/* Encabezado */
.bloque h2 {
    margin-top: 10px;
}

/* Texto */
.bloque p {
    line-height: 1.5;
}


.navbar {
    background-color: #333;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #555;
}

.nav-item a.active {
    background-color: #007bff;
}