body {
    font-family: Helvetica, sans-serif;
    color: #5C4B3B;
    background-color: #FDFBD4;
    margin: 0;
}

/* Contenedor principal */
.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.bloque {
    background-color: #fff;
    margin: 40px auto;
    padding: 15px 15px 25px 15px;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.bloque img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
}

.img foto1 {
    display: block;
    width: 100%;
    max-width: 800px;
    height: auto;
}

.bloque p {
    margin-top: 10px;
    font-family: 'Courier New', cursive;
    color: #333;
}

/* Encabezado */
.bloque h2 {
    margin-top: 10px;
}

.bloque h1 {
    margin-top: 10px;
}


.navbar {
    background-color: #5C4B3B;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
}

.nav-item a {
    display: block;
    padding: 15px 20px;
    color: #FDFBD4;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #8B7355;
}

.nav-item a.active {
    background-color: #D4C2A5;
    color: #3E2F23;
    border-bottom: 3px solid #C2A878;
}

/*boton*/
.boton {
    background-color: #8B7355;
    color: #FDFBD4;
    padding: 12px 20px;
    width: 160px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.boton:hover {
    background-color: #A68A64;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.boton:active {
    transform: translateY(0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
